
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);

/*Reset*/
.col-md-3, .col-md-2, .col-sm-4 {
  padding: 0;
  margin: 0;
}


body {
	background-image: url("bgmain.png");
  //background-color: white;
  color: black;
}

.container-fluid{
  padding: 0;
}

/* topnav */

a.navbar-brand {
  color: #50b4e6 !important;
  font-weight: bold;
  font-family: "Berkshire Swash", Arial, sans-serif;
  font-size: 2em;
}

#account a{
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  height: inherit;

}

#account a img {
  vertical-align: bottom;
}
/* panel */
#sidebar .panel{
  border: none;
}

#sidebar .panel .panel-heading{
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: #FFF50D solid 3px;
}

#sidebar .panel .panel-body{
  padding: 0;
}

#sidebar .panel .panel-body .list-group{
  margin: 0;
}

#sidebar .panel .panel-body .list-group a.active{
  background-color: #DDDDDD;
  border: none;
}
/* profile */
.avatar img{
  padding: 0.1em;
  margin: 0;
  border: solid black 1px;
  vertical-align: bottom;
}

.avatar h4 {
  display: inline;
}

/*  */
#actions {
  margin-bottom: 0.4em;
}

.pagination {
  display: inline;
}

#content .title{
  padding-top: 0.2em;
  padding-bottom: 0.4em;
  padding-left: 0.2em;
}

#header h3{
  margin-top: 0;
  border-bottom: #FFF50D solid 3px;
}

#header {
  margin-bottom: 0.5em;
}
#content .control-label{
  font-weight: normal;
}

.control-label {
 margin-bottom: 0;	
 text-align: left!important;
 padding-left: 2.5em!important;
 font-size: 14px;
}

.form-group {
	display: block;
	margin-bottom: 0.2em;
}

.bt-action {
	margin-top: 2em;
}

textarea {
	margin-bottom: 0.1em!important;
}

.panel-body ul {
	margin: 0;
	
}

.panel-body li a{
	line-height: 2.5em;
	padding-left: 1em;
	
}

.panel-body li {
	border-bottom: #DBDBD9 solid 1px;
}

.panel-body li.active {
	background-color: #DBDBD9;
}

.panel-body li a:HOVER{
	text-decoration: none;
}

.panel-body li:HOVER{
	text-decoration: none;
	background-color: #DBDBD9;
}
#sidebar {
	padding-left: 0.2em;
}


